body {
    text-align: center;
    font-family: cursive;
}
#slide {
    width: 440px;
    -webkit-appearance: none;
    appearance:none;
    height: 128px;
    background: url(images/fullbone.png) no-repeat center;
}
#slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    transform:translateY(25px) translateX(100px);
    appearance:none;
    background: url(images/altslide.png) no-repeat center;
    width:300px;
    height:128px;
    border:none;
    cursor:pointer;
}
#slide::-webkit-slider-runnable-track {
    background:transparent;
    height: 100px;
}